/target
info-bot.txt
.vscode
.env
channel_notification.json
tasks.json
user_timezone_config.json
# Added by cargo
#
# already existing elements were commented out

#/target
memory.md
info-bot.*
TODO.md
src/infrastructure/database/sqlite_commands.txt
data/*
DEPLOY_GUIA.md